
@{
    Layout = "_LayoutApp";

}
@model AlignityApp.ViewModels.UserViewModel

<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                @if (Model.User.UserRole.ToString() == "SALARIED")
                {
                    <h3>Salarié Profil </h3>

                }
                @if (Model.User.UserRole.ToString() == "MANAGER")
                {
                    <h3>Manager Profil </h3>
                }
            </div>


        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Info Personnelle <small>Activités reportings</small></h2>

                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="col-md-3 col-sm-3  profile_left">
                            <div class="profile_img">
                                <div id="crop-avatar">
                                    <!-- Current avatar -->
                                    <img class="img-responsive avatar-view" src="/src/profil.png" alt="Avatar" title="Change the avatar" style="block-size:250px;">
                                </div>
                            </div>
                            <h3>@Model.User.Firstname @Model.User.Name</h3>

                            <ul class="list-unstyled user_data">
                                <li>
                                    <i class="fa fa-map-marker user-profile-icon"></i> @Model.User.Adress  @Model.User.PostalCode, @Model.User.City
                                </li>

                                <li>
                                    <i class="fa fa-briefcase user-profile-icon"></i> Software Engineer
                                </li>


                                <li class="m-top-xs">
                                    <i class="fa fa-external-link user-profile-icon"></i>
                                    @Model.User.Email
                                </li>

                                <li>
                                    <i class="fa fa-phone user-profile-icon"></i> @Model.User.PhoneNumber
                                </li>
                            </ul>
                            @if (User.IsInRole("ADMINISTRATOR"))
                            {

                                <a class="btn btn-success" href="/user/ajouterUser?id=@Model.User.Id"><i class="fa fa-edit m-right-xs"></i>Edit Profil</a>
                            }
                            <br />

                        

                        </div>
                        <div class="col-md-9 col-sm-9 ">

                            <div class="profile_title">
                                <div class="col-md-6">
                                    <h2>User Activity Report</h2>
                                </div>
                               
                            </div>
                            <!-- start of user-activity-graph -->
                            @*<div id="graph_bar" style="width:100%; height:280px;"></div>*@
                            <table class="data table table-striped no-margin">
                                <thead>
                                    <tr>

                                        <th>Nom d'activités effectuées</th>
                                        <th>Nombre d'heure</th>
                                       
                                        <th>Contribution</th>
                                    </tr>
                                </thead>
                                <tbody>
           
                                    @foreach (var activity in Model.listActivities)
                                    {

                                        <tr>
                                            @if (@activity.Type == "SERVICE")
                                            {
                                                
                                            <td>Prestation de service</td>
                                            }
                                            @if (@activity.Type == "RTT")
                                            {
                                                
                                            <td>RTT</td>
                                            } 
                                            @if (@activity.Type == "HOLIDAYS")
                                            {
                                                
                                            <td>Vacances</td>
                                            }
                                            @if (@activity.Type == "INTERCONTRACT")
                                            {

                                                <td>Intercontract</td>
                                            }
                                            @if (@activity.Type == "TRAINING")
                                            {

                                                <td>Formation</td>
                                            }
                                            <td>@activity.Duration h</td>
                                           
                                            <td class="vertical-align-mid">
                                                <div class="progress">
                                                    <div class="progress-bar progress-bar-danger" data-transitiongoal="@activity.Ration">@activity.Ration.ToString("F1")%</div>
                                                </div>
                                            </td>
                                        </tr>
                                    }
      
                                </tbody>
                            </table>
                            <!-- end of user-activity-graph -->

                            <div class="" role="tabpanel" data-example-id="togglable-tabs" style="margin-top:50px;">
                                <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                                    <li role="presentation" class="active">
                                        <a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Cras en attente de validation</a>
                                    </li>
                                    <li role="presentation" class="">
                                        <a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Cras besoin de modification</a>
                                    </li>

                                </ul>
                                <div id="myTabContent" class="tab-content">
                                    <div role="tabpanel" class="tab-pane active " id="tab_content1" aria-labelledby="home-tab">

                                        <!-- start recent activity -->
                                        <ul class="messages">
                                            @foreach (AlignityApp.Models.Cra cra in Model.listCras)
                                            {
                                                if (cra.State.ToString() == "SENT")
                                                {
                                                    <li>

                                                        <div class="message_date" style="clear: right;">
                                                            <h3 class="date text-info">@cra.CreationDate.ToString("MMMM", System.Globalization.CultureInfo.CreateSpecificCulture("fr-FR"))</h3>
                                                            <p class="month">@cra.CreationDate.ToString("MM", System.Globalization.CultureInfo.CreateSpecificCulture("fr-FR"))</p>
                                                        </div>
                                                        <div class="message_wrapper">
                                                            <a href="/listCra/createCra/?id=@cra.Id&todo=0&status=@cra.State"><h4 class="heading">@cra.CreationDate.Year</h4></a>
                                                            @if (cra.Observation != null)
                                                            {
                                                                <blockquote class="message">@cra.Observation.</blockquote>
                                                            }
                                                            else
                                                            {

                                                                <blockquote class="message">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua butcher retro keffiyeh dreamcatcher synth.</blockquote>
                                                            }
                                                            <br>

                                                        </div>
                                                    </li>
                                                }

                                            }



                                        </ul>
                                        <!-- end recent activity -->

                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">

                                        <!-- start user projects -->
                                        <ul class="messages">
                                            @foreach (AlignityApp.Models.Cra cra in Model.listCras)
                                            {
                                                if (cra.State.ToString() == "ALERT")
                                                {
                                                    <li>

                                                        <div class="message_date">
                                                            <h3 class="date text-info">@cra.CreationDate.ToString("MMMM", System.Globalization.CultureInfo.CreateSpecificCulture("fr-FR"))</h3>
                                                            <p class="month">@cra.CreationDate.ToString("MM", System.Globalization.CultureInfo.CreateSpecificCulture("fr-FR"))</p>
                                                        </div>
                                                        <div class="message_wrapper">
                                                            <a href="/listCra/createCra/?id=@cra.Id&todo=0&status=@cra.State"><h4 class="heading">@cra.CreationDate.Year</h4></a>
                                                            @if (cra.Observation != null)
                                                            {
                                                                <blockquote class="message">@cra.Observation.</blockquote>
                                                            }
                                                            else
                                                            {

                                                                <blockquote class="message">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua butcher retro keffiyeh dreamcatcher synth.</blockquote>
                                                            }
                                                            <br />

                                                        </div>
                                                    </li>
                                                }

                                            }



                                        </ul>
                                        <!-- end user projects -->

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->
@section Css{
    <link href="/css/user/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <!-- NProgress -->
    <link href="/css/user/nprogress.css" rel="stylesheet">
    <!-- bootstrap-daterangepicker -->
    <link href="/css/user/daterangepicker.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="/css/user/custom.min.css" rel="stylesheet">
            }

@section Scripts{
    <script src="https://kit.fontawesome.com/dd1fcb14df.js" crossorigin="anonymous"></script>
    @* <script src="/css/user/js/jquery.min.js"></script>*@
    <!-- Bootstrap -->
    @*<script src="/css/user/js/bootstrap.bundle.min.js"></script>*@
    <!-- FastClick -->
    <script src="/css/user/js/fastclick.js"></script>
    <!-- NProgress -->
    <script src="/css/user/js/nprogress.js"></script>
    <!-- morris.js -->
    <script src="/css/user/js/raphael.min.js"></script>
    <script src="/css/user/js/morris.min.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="/css/user/js/bootstrap-progressbar.min.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="/css/user/js/moment.min.js"></script>
    <script src="/css/user/js/daterangepicker.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="/css/user/js/custom.min.js"></script>
            }
