<!DOCTYPE html>
<html lang="fr">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewBag.Title</title>

    <!-- Custom fonts for this template-->
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/css/sb-admin-2.css" rel="stylesheet">
    <link href="~/css/Site.css" rel="stylesheet">
    @RenderSection("Css", required: false)


</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

         <!-- Sidebar -->
        <ul class="navbar-nav sidebar sidebar-dark accordion" id="accordionSidebar">

            @if (User.IsInRole("SALARIED"))
            {
                <!-- Sidebar - Brand -->
                <li>
                    <a class="sidebar-brand d-flex align-items-center justify-content-center"
                       href="~/Home/Index/@(User.FindFirst("Sid").Value)">

                        <div class="sidebar-brand-icon">
                            <img src="~/src/logoAR.png" alt="logo" style="height: 5em; width: 5em;" class="rounded-circle">
                        </div>
                        <div class="sidebar-brand-text mx-3">Alignity</div>
                    </a>
                </li>

                <!-- Divider -->
                <li>
                    <hr class="sidebar-divider my-0">
                </li>

                <!-- Nav Item - Home / Dashboard -->
                <li class="nav-item @((Context.Request.Path == "/Home/Index/" + User.FindFirst("Sid").Value) ? "active" : null)">

                    <a class="nav-link" href="~/Home/Index/@User.FindFirst("Sid").Value">
                        <i class="fa fa-home" aria-hidden="true"></i>
                        <span>Home</span>
                    </a>
                </li>

                <!-- Divider -->
                <li>
                    <hr class="sidebar-divider">
                </li>

                <!-- Heading -->
                <li>
                    <div class="sidebar-heading">
                        Activités
                    </div>
                </li>
                <!-- Nav Item - mes cra -->
                <li class="nav-item @((Context.Request.Path=="/listCra/") ? "active" : null)">
 
                    <a class="nav-link" href="/listCra/?id=@User.FindFirst("Sid").Value">
                        <i class="fa fa-eye fa-fw" aria-hidden="true"></i>
                        <span>Voir mes CRAs</span>
                    </a>
                </li>
                <!-- Nav Item - create cra -->
                <li class="nav-item @((Context.Request.Path == "/ListCra/CreateCra/") ? "active" : null)">

                    <a class="nav-link" href="/listCra/createCra/?id=@int.Parse(@User.FindFirst("Sid").Value)&todo=1">
                        <i class="fa fa-cog fa-fw" aria-hidden="true"></i>
                        <span>Créer un CRA</span>
                    </a>
                </li>


                <!-- Divider -->
                <li>
                    <hr class="sidebar-divider">
                </li>

                <!-- Nav Item - Service -->
                <li class="nav-item @((Context.Request.Path == "/Home/Service") ? "active" : null)">

                    <a class="nav-link" href="~/Home/Service">
                        <i class="fa fa-book fa-fw" aria-hidden="true"></i>
                        <span>Mes prestations</span>
                    </a>
                </li>


                <!-- Divider -->
                <li>
                    <hr class="sidebar-divider">
                </li>

                <!-- Heading -->
                <li>
                    <div class="sidebar-heading">
                        Absences
                    </div>
                </li>

                <!-- Absences -->
                <li class="nav-item @((Context.Request.Path == "/Home/Absence") ? "active" : null)">
                    <a class="nav-link" href="~/Home/Absence">
                        <i class="fas fa-fw fa-chart-area"></i>
                        <span>Mes absences</span>
                    </a>
                </li>
            }

            @if(User.IsInRole("MANAGER"))
            {
                <!-- Sidebar - Brand -->
                <li>
                    <a class="sidebar-brand d-flex align-items-center justify-content-center"
                       href="~/Dashboard/Index/@(User.FindFirst("Sid").Value)">

                        <div class="sidebar-brand-icon">
                            <img src="~/src/logoAR.png" alt="logo" style="height: 5em; width: 5em;" class="rounded-circle">
                        </div>
                        <div class="sidebar-brand-text mx-3">Alignity</div>
                    </a>
                </li>

                <!-- Divider -->
                <li>
                    <hr class="sidebar-divider my-0">
                </li>

                <!-- Nav Item - Dashboard -->
                <li class="nav-item @((Context.Request.Path == "/Dashboard/Index/" + User.FindFirst("Sid").Value) ? "active" : null)">
                    <a class="nav-link" href="~/Dashboard/Index/@(User.FindFirst("Sid").Value)">
                        <i class="fa fa-home" aria-hidden="true"></i>
                        <span>Tableau de bord</span>
                    </a>
                </li>

                <!-- Divider -->
                <li>
                    <hr class="sidebar-divider">
                </li>

                <!-- Heading -->
                <li>
                    <div class="sidebar-heading">
                        Mon équipe
                    </div>
                </li>

                <!-- Nav Item - Collapse Menu mon équipe -->
                <li class="nav-item @((Context.Request.Path == "/Team/Index/" + User.FindFirst("Sid").Value ||
                    Context.Request.Path == "/TeamCras/Index/" + User.FindFirst("Sid").Value) ? "active" : null)">

                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                       aria-expanded="true" aria-controls="collapseTwo">
                        <i class="fas fa-fw fa-cog"></i>
                        <span>Gérer mon équipe</span>
                    </a>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <h6 class="collapse-header">Choisir une action:</h6>
                            <a class="collapse-item text-wrap" href="~/Team/Index/@(User.FindFirst("Sid").Value)">Mon équipe</a>
                            <a class="collapse-item text-wrap" href="~/TeamCras/Index/@(User.FindFirst("Sid").Value)">CRAs de mon équipe</a>
                        </div>
                    </div>
                </li>

                <!-- Divider -->
                <li>
                    <hr class="sidebar-divider">
                </li>

                <!-- Heading -->
                <li>
                    <div class="sidebar-heading">
                        Mes clients
                    </div>
                </li>

                <!-- Nav Item - Collapse Menu clients -->
                <li class="nav-item @((Context.Request.Path == "/Opportunity/Index/" + User.FindFirst("Sid").Value || 
                    Context.Request.Path == "/Opportunity/CreateOpportunity/" + User.FindFirst("Sid").Value ||
                    Context.Request.Path == "/Opportunity/Contract/" + User.FindFirst("Sid").Value) ? "active" : null)">

                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseOpportunity"
                       aria-expanded="true" aria-controls="collapseOpportunity">
                        <i class="fas fa-folder-open"></i>
                        <span class="text-wrap">Opportunités</span>
                    </a>
                    <div id="collapseOpportunity" class="collapse" aria-labelledby="headingOpportunity"
                         data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <h6 class="collapse-header">Choisir une action:</h6>
                            <a class="collapse-item text-wrap" href="~/Opportunity/CreateOpportunity/@(User.FindFirst("Sid").Value)">Créer une nouvelle opportunité</a>
                            <a class="collapse-item text-wrap" href="~/Opportunity/Index/@(User.FindFirst("Sid").Value)">Liste des opportunités</a>
                            <hr class="collapse-item" />
                            <a class="collapse-item text-wrap" href="~/Opportunity/Contract/@(User.FindFirst("Sid").Value)">Liste des contrats clients</a>
                        </div>
                    </div>
                </li>

                <li class="nav-item @((Context.Request.Path == "/Invoice/Index/" + User.FindFirst("Sid").Value ||
                    Context.Request.Path == "/Invoice/CreateInvoice/" + User.FindFirst("Sid").Value) ? "active" : null)">

                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseBilling"
                       aria-expanded="true" aria-controls="collapseBilling">
                        <i class="fas fa-file-invoice-dollar"></i>
                        <span class="text-wrap">Facturation client</span>
                    </a>
                    <div id="collapseBilling" class="collapse" aria-labelledby="headingBilling"
                         data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <h6 class="collapse-header">Choisir une action:</h6>
                            <a class="collapse-item text-wrap" href="~/Invoice/CreateInvoice/@(User.FindFirst("Sid").Value)">Créer une nouvelle facture</a>
                            <a class="collapse-item text-wrap" href="~/Invoice/Index/@(User.FindFirst("Sid").Value)">Liste des factures</a>
                        </div>
                    </div>
                </li>
            }

            @if (User.IsInRole("ADMINISTRATOR"))
            {
                <!-- Sidebar - Brand -->
                <li>
                    <a class="sidebar-brand d-flex align-items-center justify-content-center"
                       href="~/Dashboard/Index/@(User.Identity.Name)">

                        <div class="sidebar-brand-icon">
                            <img src="~/src/logoAR.png" alt="logo" style="height: 5em; width: 5em;" class="rounded-circle">
                        </div>
                        <div class="sidebar-brand-text mx-3">Alignity</div>
                    </a>
                </li>

                <!-- Divider -->
                <li>
                    <hr class="sidebar-divider my-0">
                </li>

                <!-- Nav Item - Dashboard -->
                <li class="nav-item @((Context.Request.Path == "/Dashboard/Index") ? "active" : null)">
                    <a class="nav-link" href="~/Dashboard/Index">
                        <i class="fa fa-home" aria-hidden="true"></i>
                        <span>Tableau de bord</span>
                    </a>
                </li>

                <!-- Divider -->
                <li>
                    <hr class="sidebar-divider">
                </li>

                <!-- Heading -->
                <li>
                    <div class="sidebar-heading">
                        Mon équipe
                    </div>
                </li>

                    <!-- Nav Item - Collapse Menu mon équipe ADMIN -->
                <li class="nav-item @((Context.Request.Path == "/User/AjouterUser" ||
                    Context.Request.Path == "/Team") ? "active" : null)">

                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                           aria-expanded="true" aria-controls="collapseTwo">
                            <i class="fas fa-fw fa-cog"></i>
                            <span>Gérer les équipes</span>
                        </a>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                            <div class="bg-white py-2 collapse-inner rounded">
                                <h6 class="collapse-header">Choisir une action:</h6>
                                <a class="collapse-item text-wrap" href="/User/AjouterUser">Ajouter un Salarié</a>
                                <a class="collapse-item text-wrap" href="/Team">Managers de l'Alignity</a>
                            <hr class="collapse-item" />
                                <a class="collapse-item text-wrap" href="/Team?id=-1">Salarié sans Manager</a>
                            </div>
                        </div>
                    </li>



               
                <!-- Divider -->
                <li>
                    <hr class="sidebar-divider">
                </li>

                <!-- Heading -->
                <li>
                    <div class="sidebar-heading">
                       CRAs d'équipe
                    </div>
                </li>

                <!-- Nav Item - Collapse Menu clients -->
                <li class="nav-item @((Context.Request.Path == "/Team/") ? "active" : null)">

                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
                       aria-expanded="true" aria-controls="collapseUtilities">
                        <i class="fas fa-fw fa-wrench"></i>
                        <span>Gérer les CRAs </span>
                    </a>
                    <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                         data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <h6 class="collapse-header">Choisir une action:</h6>
                            <a class="collapse-item text-wrap" href="/team">Liste des CRAs par équipe</a>
                        </div>
                    </div>
                </li>
            }

            <!-- Divider -->
            <li>
                <hr class="sidebar-divider d-none d-md-block">
            </li>

            <!-- Sidebar Toggler (Sidebar) -->
            <li class="d-flex justify-content-center">
                <div class="text-center d-none d-md-inline">
                    <button class="rounded-circle border-0" id="sidebarToggle"></button>
                </div>
            </li>

@*            <!-- Sidebar Message -->
            <li>
                <div class="sidebar-card d-none d-lg-flex">
                    <img class="sidebar-card-illustration mb-2" src="~/src/undraw_rocket.svg" alt="...">
                    <p class="text-center mb-2"><strong>AlignityApp Pro</strong> is packed with premium features, components, and more!</p>
                    <a class="btn btn-warning btn-sm" href="#">Upgrade to Pro!</a>
                </div>
            </li>*@

        </ul>
        <!-- End of Sidebar -->
       
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                        <h4 class="text-primary align-self-center">Alignity Gestion PRO</h4>
                    
                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                 aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                               placeholder="Search for..." aria-label="Search"
                                               aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                      

                        <li>
                            <div class="topbar-divider d-none d-sm-block"></div>
                        </li>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" 
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">
                                    @User.Identity.Name
                                </span>

                                <img class="img-profile rounded-circle" src="~/src/portrait.png">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="/user?id=@int.Parse(User.FindFirst("Sid").Value)">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profil
                                </a>
                             
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="~/Login/Deconnexion" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Déconnexion
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    @RenderBody()
                </div>

            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2021</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Prêt à partir ?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Confirmez la fermeture de votre session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Annuler</button>
                    <a class="btn btn-primary" href="~/Login/Deconnexion">Confirmer</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/Scripts/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="~/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/Scripts/js/demo/chart-area-demo.js"></script>
    <script src="~/Scripts/js/demo/chart-pie-demo.js"></script>
    @RenderSection("Scripts", required: false)

</body>

</html>