@model AlignityApp.ViewModels.OpportunityViewModel
@{
    Layout = "_LayoutApp";
    ViewBag.Title = "Créer une nouvelle opportunité";
}
    <h3 class="text-primary text-center mb-5">Vous pouvez choisir les participants au futur entretien d'embauche</h3>

<div class="row">


    <div class="col-lg-6">

        <!-- Basic Card Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-dark">Paticipants</h6>
            </div>
            <div class="card-body">
 
                @using (Html.BeginForm("CreateOpportunity2", "Opportunity", FormMethod.Post, new { @class = "row justify-content-around mb-4" }))
                {
                    <input type="hidden" name="id" value="@User.FindFirst("Sid").Value" />
                    @Html.Label("Choisir un Client :")
                    @Html.DropDownList("CustomerId", new SelectList(ViewBag.listCustomers, "Id", "Brand"), new {@class ="col-6 p-2"})
                    <input class="btn btn-warning col-2" type="submit" value="Envoyer" />
                }

                @using (Html.BeginForm("CreateOpportunity3", "Opportunity", FormMethod.Post, new { @class = "row justify-content-around" }))
                {
                    <input type="hidden" name="id" value="@User.FindFirst("Sid").Value" />
                    @Html.Label("Choisir un salarié :")
                    @Html.DropDownList("SalariedId", new SelectList(ViewBag.listSalaries, "Id", "Name"), new {@class="col-6 p-2"})

                    <input class="btn btn-warning col-2" type="submit" value="Envoyer" />
                }

            </div>
        </div>

    </div>

    <div class="col-lg-6">

        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-dark">Valider l'entretien</h6>
            </div>

            <div class="card-body">

                @using (Html.BeginForm("ValidateOpportunity", "Opportunity", FormMethod.Post))
                {
                    <h5 class="card-title"> <span>Client : </span>@Model.Customer.Brand</h5>

                @if (Model.Salaries != null)
                {
                    @for (int i = 1; i < Model.Salaries.Count + 1; i++)
                    {
                        <input type="hidden" name="id" value="@User.FindFirst("Sid").Value" />
                        <div class="card-body border-bottom border-success bg-light">
                            <p>Candidat n° @i </p>
                            @Html.TextBoxFor(m => m.Salaries[i - 1].Id, new {@class="d-none"})
                            @Html.TextBoxFor(m => m.Salaries[i - 1].Name, new {@class="border-0", disabled="disabled"})
                            @Html.TextBoxFor(m => m.Salaries[i - 1].Firstname, new {@class="border-0", disabled="disabled"})
                            <div>
                                <span>TJM : </span>
                                @Html.TextBoxFor(m => m.Salaries[i - 1].RateTjm, new {@class="border-0", disabled="disabled"})
                            </div>
                            @*@Html.ActionLink("Annuler", "DeleteOpportunity", "Opportunity", new { id = Model.Salaries[i - 1], type="button" })*@
                        </div>
                    }
                }

                <div class="col-12 mt-5">
                    <button class="btn btn-warning m-2" type="submit">Valider</button>
                    <button class="btn btn-secondary m-2" 
                        href="~/Opportunity/DeleteOpportunity/@(int.Parse(User.FindFirst("Sid").Value))">Annuler</button>
                </div>
                }
            </div>
        </div>

    </div>
</div>