@{
    Layout = "_LayoutManager";
    ViewBag.Title = "Mon équipe";
}


<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Liste des salariés</h1>
<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">UserName</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nom</th>
                        <th>Prenom</th>
                        <th>Date de naissance</th>
                        <th>Email</th>
                        <th>Date d'entrée</th>
                        <th>Adresse</th>
                        <th>Ville</th>
                        <th>Code postal</th>
                        <th>Téléphone</th>
                        <th>Métier</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (AlignityApp.Models.User user in @Model)
                    {
                        <tr>
                            <td>@user.Id</td>
                            <td>@user.Name</td>
                            <td>@user.Firstname</td>
                            <td>@user.Birthdate.ToString()</td>
                            <td>@user.Email</td>
                            <td>@user.CreationDate.ToString()</td>
                            <td>@user.Adress</td>
                            <td>@user.PostalCode</td>
                            <td>@user.PhoneNumber</td>
                            <td>@user.UserJob</td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>

