@model AlignityApp.ViewModels.ActivityViewModel

@{
    Layout = "_LayoutApp";
    ViewBag.Title = "Edition du CRA";

}
<div class="row">
    @if (User.IsInRole("SALARIED"))
    {   
    <div class="col-md-4 ">
        <div class="x_panel">
            <div class="x_title">
                <h2>Saisi ton CRA</h2>
            </div>
            <div class="x_content">
                <br />
                <form class="form-horizontal form-label-left" method="post" action=@Url.Action("CreateCra", "ListCra")>
                    <div class="form-group row">
                        <label class="col-form-label col-md-3 col-sm-3 label-align">
                            Date de l'activité <span class="required">*</span>
                        </label>
                        <div class="col-md-9 col-sm-9 ">
                            @* @Html.TextBoxFor(m => m.activity.Date, "{0:dd-MM-yyyy}", new {@class = "date-picker form-control", placeholder="dd-mm-yyyy", type="date"});*@
                            <input id="birthday" class="date-picker form-control" placeholder="dd-mm-yyyy" type="text" required="required" type="text" onfocus="this.type='date'" onmouseover="this.type='date'" onclick="this.type='date'" onblur="this.type='text'" onmouseout="timeFunctionLong(this)" name="Date">
                            <script>
                                function timeFunctionLong(input) {
                                    setTimeout(function () {
                                        input.type = 'text';
                                    }, 60000);
                                }
                            </script>
                        </div>
                    </div>
                    <div class="form-group row" required="required">
                        <label class="control-label col-md-3 col-sm-3 ">Type de l'activité<span class="required">*</span></label>
                        <div class="col-md-9 col-sm-9 ">
                            <select class="form-control" name="Type">
                                <option value=0>Prestation de Service</option>
                                <option value=1>Formation</option>
                                <option value=2>Vacances</option>
                                <option value=3>RTT</option>
                                <option value=4>InterContrat</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-md-3 col-sm-3 ">Où?<span class="required">*</span></label>
                        <div class="col-md-9 col-sm-9 ">
                            <select class="form-control" required="required" name="Place">
                                <option value=0>Chez Alignity</option>
                                <option value=1>Chez quelqu'un d'autre</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-md-3 col-sm-3 ">Combien d'heure?<span class="required">*</span></label>
                        <div class="col-md-9 col-sm-9 ">
                            <select class="form-control" required="required" name="Duration">
                                <option value=0>0</option>
                                <option value=1>1</option>
                                <option value=2>2</option>
                                <option value=3>3</option>
                                <option value=4>4</option>
                                <option value=5>5</option>
                                <option value=6>6</option>
                                <option value=7>7</option>
                                <option value=8>8</option>
                                <option value=9>9</option>
                                <option value=10>10</option>
                                <option value=11>11</option>
                                <option value=12>12</option>
                                <option value=13>13</option>
                                <option value=14>14</option>
                                <option value=15>15</option>
                                <option value=16>16</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-md-3 col-sm-3 ">
                            Un petit commentaire
                        </label>
                        <div class="col-md-9 col-sm-9 ">

                            <textarea name="Comments" class="form-control" rows="3" placeholder="Commentaire"></textarea>
                        </div>
                    </div>
                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-10 col-sm-10  offset-md-3">
                            @if (Model.activities.Count > 1&& User.IsInRole("SALARIED"))
                            {
                            <button type="button" class="btn btn-primary" id="tt" disabled onclick="modifyCra()">Soumettre au manager</button>
                                
                            }
                            <script>
                                            function modifyCra() {
                                                if (confirm('Voulez vous Soumettre à ton manager?Attention un fois vous le soumettez, vous ne pouvez plus modifier ce Cra!')) {
                                                $.ajax({
                                                    type: "POST",
                                                    url: "/listCra/ModifyCra",
                                                    success: function(res) {
                                                        window.location.href = "/listCra/?id="+res
                                                      
                                                    },
                                                    error: function() {
                                                        
                                                    }
                                                });
                                            }
}
                           </script>
                            @if (User.IsInRole("SALARIED"))
                            {
                                
                            <button type="submit" class="btn btn-info" id="tt" disabled>Enregistrer</button>
                            }
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
    }

    @if (User.IsInRole("MANAGER")&& Model.cra.State.ToString() !="VALIDATED")
    {
        <div class="col-md-4">
            <label for="message">Remarque :</label>
		           <textarea class="form-control" id="myTextArea" style="height:300px">@Model.cra?.Observation</textarea>
				<br />
                <span class="btn btn-primary" onclick="comment()">Envoyer</span>
            </div>
    }
            <script>
                function comment(){
                    var comment = $("#myTextArea").val();
                    $.ajax({
                          url: "/ListCra/CreateCommentManager",
                          type: "POST",
                          data: {comment: comment},
                          success: function(res) {
                           window.location.href = "/listCra/?id="+res
                          },
                          error: function(xhr) {
        
                          }
                        });
                      }
            </script>

    <div class="col-md-8 ">
        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h3>Liste des activités effectuées</h3>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Type</th>
                                        <th>Location</th>
                                        <th>Durée</th>
                                        <th>Commentaire</th>
                                        @if (User.IsInRole("SALARIED"))
                                        {
                                          <th>Edit</th>  
                                        }
                                        
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>Date</th>
                                        <th>Type</th>
                                        <th>Location</th>
                                        <th>Durée</th>
                                        <th>Commentaire</th>
                                          @if (User.IsInRole("SALARIED"))
                                        {
                                          <th>Edit</th>  
                                        }
                                    </tr>
                                </tfoot>
                                <tbody>

                                    @foreach (AlignityApp.Models.Activity activity in Model.activities)
                                    {
                                        <tr>
                                            <td>@activity.Date.ToString("dd MMMM yyyy", System.Globalization.CultureInfo.CreateSpecificCulture("fr-FR"))</td>
                                            @if (@activity.Type.ToString() == "HOLIDAYS")
                                            {
                                            <td>Vacances</td>
                                                
                                            }
                                            @if (@activity.Type.ToString() == "SERVICE")
                                            {
                                            <td>Prestation de service</td>
                                                
                                            }  
                                            @if (@activity.Type.ToString() == "INTERCONTRACT")
                                            {
                                            <td>InterContrat</td>
                                                
                                            } 
                                            @if (@activity.Type.ToString() == "TRAINING")
                                            {
                                            <td>Formation</td>
                                                
                                            }
                                            @if (@activity.Type.ToString() == "RTT")
                                            {
                                            <td>RTT</td>
                                                
                                            }
                                            @if (@activity.Place.ToString() == "EXTERNAL")
                                            {
                                            <td>Externe</td>
                                                
                                            }else{
                                            <td>Interne</td>
                                            }
                                            
                                            <td>@activity.Duration</td>
                                            <td>@activity.Description</td>
                                               @if (User.IsInRole("SALARIED"))
                                        {
                                   
                                            <td><button class=" btn btn-outline-danger btn-sm" onclick="deleteActivity(@activity.Id)" id="tt" disabled>Supprimer</button</td>
                                        }

                                        </tr>
                                    }
                                        <script>
                                        function deleteActivity(activityId) {
                                            if (confirm('Voulew vous supprimer cette activité?')) {
                                                $.ajax({
                                                    type: "POST",
                                                    url: "/listCra/deleteActivity",
                                                    data: { activityId: activityId },
                                                    success: function(res) {
                                                        window.location.href = "/listCra/createCra/?id=" + res + "&todo=0"
                                                      
                                                    },
                                                    error: function() {
                                                        
                                                    }
                                                });
                                            }
                                        }
                                          var urlParams = new URLSearchParams(window.location.search);
                                            var paramValue = urlParams.get("status");
                                            if (paramValue === "DRAFT"||paramValue === "ALERT"||paramValue ==null) {
                                                var element =document.querySelectorAll("button#tt");
                                               for (var i = 0; i < element.length; i++) {
                                                element[i].disabled = false;
                                                 }
                                            }
                                        </script>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>


</div>

@section Css{
    <link href="/css/listCra/dataTables.bootstrap4.min.css" rel="stylesheet">
            }
@section Scripts{
    <!-- Page level plugins -->
    <script src="/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/js/demo/datatables-demo.js"></script>
            }
