@{
    Layout = "_LayoutApp";
}
<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Liste des CRAs</h1>
<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">@User.Identity.Name</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Mois</th>
                        <th>Année</th>
                        <th>Statut</th>
                        <th>Commentaire du Manager</th>
                        <th>Edit</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>ID</th>
                        <th>Mois</th>
                        <th>Année</th>
                        <th>Statut</th>
                        <th>Commentaire du Manager</th>
                        <th>Edit</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (AlignityApp.Models.Cra cra in @Model)
                    {
                        <tr>
                            <td>@cra.Id</td>
                            <td>
                                @cra.CreationDate.ToString("MMM", System.Globalization.CultureInfo.CreateSpecificCulture("fr-FR"))
                            </td>
                            <td>@cra.CreationDate.Year</td>
                            @if (@cra.State.ToString() == "VALIDATED")
                            {
                                <td><button type="button" class="btn btn-success btn-sm">Validé</button></td>
                            }
                            @if (@cra.State.ToString() == "SENT")
                            {
                                <td><button type="button" class="btn btn-warning btn-sm">En attente d'une validation</button></td>
                            }
                            @if (@cra.State.ToString() == "DRAFT")
                            {
                                <td><button type="button" class="btn btn-secondary btn-sm">Brouillon</button></td>
                            }
                            @if (@cra.State.ToString() == "ALERT")
                            {
                                <td><button type="button" class="btn btn-danger btn-sm">Besoin d'une modification</button></td>
                            }
                            <td>@cra.ObservationsId</td>
                            <td><a class=" btn btn-outline-info btn-sm" href="/listCra/createCra/?id=@cra.Id&todo=0&status=@cra.State">Voir</a></td>
                        </tr>
                    }

                </tbody>
            </table>

        </div>
    </div>
</div>
            @section Css{
                <link href="/css/listCra/dataTables.bootstrap4.min.css" rel="stylesheet">
            }
            @section Scripts{
                <!-- Page level plugins -->
                <script src="/vendor/datatables/jquery.dataTables.min.js"></script>
                <script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

                <!-- Page level custom scripts -->
                <script src="/js/demo/datatables-demo.js"></script>
            }