@model AlignityApp.ViewModels.TeamsViewModel
@{
    Layout = "_LayoutApp";
    ViewBag.Title = "Liste des CRAs";
}

@if (User.FindFirst("Sid").Value == Model.User.Id.ToString())
{
    <!-- Page Heading -->
    <h4 class="mb-4 text-center text-primary">Comptes rendus d'activité (vue globale)</h4>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Manager @Model.User.Name</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr class="table-dark">
                            <th class="bg-dark" scope="col">Nom</th>
                            <th class="bg-dark" scope="col">ID</th>
                            <th class="bg-dark" scope="col">Mois</th>
                            <th class="bg-dark" scope="col">Année</th>
                            <th class="bg-dark" scope="col">Statut</th>
                            <th class="bg-dark" scope="col">Observations</th>
                            <th class="bg-dark" scope="col">Edit</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr class="table-dark">
                            <th class="bg-dark" scope="col">Nom</th>
                            <th class="bg-dark" scope="col">ID</th>
                            <th class="bg-dark" scope="col">Mois</th>
                            <th class="bg-dark" scope="col">Année</th>
                            <th class="bg-dark" scope="col">Statut</th>
                            <th class="bg-dark" scope="col">observations</th>
                            <th class="bg-dark" scope="col">Editer</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (AlignityApp.Models.Cra cra in Model.Cras)
                        {
                            <tr>
                                <td>
                                    @foreach (AlignityApp.Models.User user in Model.Salaries)
                                    {
                                        if (user.Id == cra.UserId)
                                            @user.Name;
                                    }
                                </td>
                                <td>@cra.Id</td>
                                <td>
                                    @cra.CreationDate.ToString("MMM", System.Globalization.CultureInfo.CreateSpecificCulture("fr-FR"))
                                </td>
                                <td>@cra.CreationDate.Year</td>
                                @if (@cra.State.ToString() == "VALIDATED")
                                {
                                    <td><button type="button" class="btn btn-success btn-sm">Validé</button></td>
                                }
                                @if (@cra.State.ToString() == "SENT")
                                {
                                    <td><button type="button" class="btn btn-warning btn-sm">En attente d'une validation</button></td>
                                }
                                @if (@cra.State.ToString() == "DRAFT")
                                {
                                    <td><button type="button" class="btn btn-secondary btn-sm">Brouillon</button></td>
                                }
                                @if (@cra.State.ToString() == "ALERT")
                                {
                                    <td><button type="button" class="btn btn-danger btn-sm">Besoin d'une modification</button></td>
                                }
                                <td>@cra.Observation</td>
                                <td><a type="button" class=" btn btn-outline-info btn-sm" href="/listCra/createCra?id=@cra.Id&todo=0&status=@cra.State">Voir</a></td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
}

@section Css {
    <link href="/css/listCra/dataTables.bootstrap4.min.css" rel="stylesheet">
    }

@section Scripts {
    <!-- Page level plugins -->
    <script src="/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <!-- Page level custom scripts -->
    <script src="/js/demo/datatables-demo.js"></script>
    }