@model AlignityApp.ViewModels.TeamsViewModel
@{
    Layout = "_LayoutApp";
    ViewBag.Title = "Mon équipe";
}

<!-- Condition qui permet de ne pas accéder à la vue d'un autre manager par l'url -->
@if (User.IsInRole("MANAGER"))
{
    <!-- DataTales -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Mon Equipe</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Prénom</th>
                            <th>Date de naissance</th>
                            <th>Téléphone</th>
                            <th>Adresse</th>
                            <th>Email</th>
                            <th>Date entrée</th>
                            <th>Métier</th>
                            <th>TJM</th>
                            <th>Editer TJM</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Nom</th>
                            <th>Prénom</th>
                            <th>Date de naissance</th>
                            <th>Téléphone</th>
                            <th>Adresse</th>
                            <th>Email</th>
                            <th>Date entrée</th>
                            <th>Métier</th>
                            <th>TJM</th>
                            <th>Editer TJM</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (AlignityApp.Models.User salaried in Model.Salaries)
                        {
                            <tr>
                                <td>@salaried.Name</td>
                                <td>@salaried.Firstname</td>
                                <td>@salaried.Birthdate.ToString("dd/MM/yyyy")</td>
                                <td>@salaried.PhoneNumber</td>
                                <td>@salaried.Adress @salaried.PostalCode @salaried.City</td>
                                <td>@salaried.Email</td>
                                <td>@salaried.CreationDate.ToString("dd/MM/yyyy")</td>
                                <td>@salaried.UserJob</td>
                                <td>@salaried.RateTjm</td>
                                <td>
                                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modal-@salaried.Id">
                                        <i class="far fa-edit"></i>
                                   </button>
                                    <div class="modal fade" id="modal-@salaried.Id" tabindex="-1" role="dialog" aria-labelledby="modal-@salaried.Id-label" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="modal-@salaried.Id-label">TJM @salaried.Name @salaried.Firstname</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    @using (Html.BeginForm("ModalIndex", "Team", FormMethod.Post))
                                                    {
                                                        <input type="hidden" name="id" value="@User.FindFirst("Sid").Value" />
                                                        <fieldset class="d-flex justify-content-between">
                                                            <legend>Entrer le nouveau TJM</legend>
                                                            @Html.TextBoxFor(m => salaried.Id, new {@class = "d-none"})
                                                            @Html.TextBoxFor(m => salaried.RateTjm)
                                                            @Html.ValidationMessageFor(m => salaried.RateTjm)
                                                            <input class="btn btn-warning" type="submit" value="Modifier" />
                                                        </fieldset>
                                                    }
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}

@if(User.IsInRole("ADMINISTRATOR")){
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Prénom</th>
                           
                            <th>Téléphone</th>
                           
                            <th>Email</th>
                           
                            <th>Métier</th>
                   
                            <th>Editer</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Nom</th>
                            <th>Prénom</th>
                           
                            <th>Téléphone</th>
                           
                            <th>Email</th>
                           
                            <th>Métier</th>
                     
                            <th>Editer TJM</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (AlignityApp.Models.User user in Model.Salaries)
                        {
                            <tr>
                                <td>@user.Name</td>
                                <td>@user.Firstname</td>
                               
                                <td>@user.PhoneNumber</td>
                               
                                <td>@user.Email</td>
                         
                                <td>@user.UserJob</td>

                                <td><button type="button" href="#" class="btn btn-primary btn-sm">voir son équipe</button></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

}

@section Css {
    <link href="/css/listCra/dataTables.bootstrap4.min.css" rel="stylesheet">
}

@section Scripts {
    <!-- Page level plugins -->
    <script src="/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <!-- Page level custom scripts -->
    <script src="/js/demo/datatables-demo.js"></script>
}