@model AlignityApp.ViewModels.TeamsViewModel
@{
    Layout = "_LayoutApp";
    ViewBag.Title = "Mon équipe";
}

@using Microsoft.AspNetCore.Routing;


@if (User.IsInRole("MANAGER") || (Model.User != null)|| Model.getScreen==1)
{

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            @if(Model.User != null)
            {
                <h6 class="m-0 font-weight-bold text-primary">Voici l'équipe du Manager @Model?.User.Name</h6>
            }
            else
            {
                <h6 class="m-0 font-weight-bold text-primary">Voici les @Model.Users.Count salariés sans manager</h6>
            }
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Editer </th>
                            <th>Nom</th>
                            <th>Prénom</th>
                            <th>Date de naissance</th>
                            <th>Téléphone</th>
                            <th>Adresse</th>
                            <th>Email</th>
                            <th>Date entrée</th>
                            <th>Métier</th>
                            <th>TJM</th>
                            <th>Editer </th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Editer </th>
                            <th>Nom</th>
                            <th>Prénom</th>
                            <th>Date de naissance</th>
                            <th>Téléphone</th>
                            <th>Adresse</th>
                            <th>Email</th>
                            <th>Date entrée</th>
                            <th>Métier</th>
                            <th>TJM</th>
                            <th>Editer </th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (AlignityApp.Models.User user in Model.Users)
                        {
                            <tr>
                                <td>
                                    <a class="btn btn-primary" href="/listCra/?id=@user.Id">
                                        <i class="far fa-eye">Voir les CRAs</i>
                                    </a>
                                </td>
                                <td>@user.Name</td>
                                <td>@user.Firstname</td>
                                <td>@user.Birthdate.ToString("dd/MM/yyyy")</td>
                                <td>@user.PhoneNumber</td>
                                <td>@user.Adress @user.PostalCode @user.City</td>
                                <td>@user.Email</td>
                                <td>@user.CreationDate.ToString("dd/MM/yyyy")</td>
                                @if (@user.UserJob.ToString() == "TECHNICIAN")
                                {
                                    <td>Tech</td>

                                }
                                @if (@user.UserJob.ToString() == "HR_MANAGER")
                                {
                                    <td>RH</td>

                                }
                                @if (@user.UserJob.ToString() == "COMMERCIAL")
                                {
                                    <td>Commercial</td>

                                }
                                @if (@user.UserJob.ToString() == "SECRETARY")
                                {
                                    <td>Secrétaire</td>

                                }
                                @if (@user.UserJob.ToString() == "DIRECTOR")
                                {
                                    <td>Directeur</td>

                                }
                                <td>@user.RateTjm</td>
                                <td>
                                    <a class="btn btn-primary" href="/user?id=@user.Id">
                                        <i class="far fa-edit">Voir le Salarié</i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}

@if (User.IsInRole("ADMINISTRATOR") && Model.User == null &&Model.getScreen==0)
{
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Les @Model.Users.Count Managers de l'Alignity</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Prénom</th>

                            <th>Téléphone</th>

                            <th>Email</th>

                            <th>Métier</th>

                            <th>Editer</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Nom</th>
                            <th>Prénom</th>

                            <th>Téléphone</th>

                            <th>Email</th>

                            <th>Métier</th>

                            <th>Editer </th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (AlignityApp.Models.User user in Model.Users)
                        {
                            <tr>
                                <td>@user.Name</td>
                                <td>@user.Firstname</td>

                                <td>@user.PhoneNumber</td>

                                <td>@user.Email</td>
                                @if (@user.UserJob.ToString() == "TECHNICIAN")
                                {
                                    <td>Tech</td>

                                }
                                @if (@user.UserJob.ToString() == "HR_MANAGER")
                                {
                                    <td>RH</td>

                                }
                                @if (@user.UserJob.ToString() == "COMMERCIAL")
                                {
                                    <td>Commercial</td>

                                }
                                @if (@user.UserJob.ToString() == "SECRETARY")
                                {
                                    <td>Secrétaire</td>

                                }
                                @if (@user.UserJob.ToString() == "DIRECTOR")
                                {
                                    <td>Directeur</td>

                                }

                                <td><a href="/Team/?id=@user.Id" class="btn btn-primary btn-sm" style="margin-right:20px">voir son équipe</a><a href="/User/?id=@user.Id" class="btn btn-info btn-sm">voir manager</a></td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

}

@section Css {
    <link href="/css/listCra/dataTables.bootstrap4.min.css" rel="stylesheet">
}

@section Scripts {
    <!-- Page level plugins -->
    <script src="/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <!-- Page level custom scripts -->
    <script src="/js/demo/datatables-demo.js"></script>
}