@{
    Layout = "_LayoutSalaried";
    ViewBag.Title = "Listes des utilisateurs";
}

<h1>Listes des utilisateurs</h1>

<table>
    <tr>
        <th>Nom</th>
        <th>Prenom</th>
        <th>Date de naissance</th>
        <th>Email</th>
        <th>Role</th>
    </tr>

    @foreach (AlignityApp.Models.User user in @Model)
    {
        <tr>
            <td>@user.Name</td>
            <td>@user.Firstname</td>
            <td>@user.Birthdate</td>
            <td>@user.Email</td>
            <td>@user.UserRole</td>
        </tr>
    }

</table>