@{
    Layout = "_LayoutApp";
    ViewBag.Title = "Mon équipe";
}


<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Date de naissance</th>
                        <th>Téléphone</th>
                        <th>Adresse</th>
                        <th>Email</th>
                        <th>Date entrée</th>
                        <th>Métier</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Date de naissance</th>
                        <th>Téléphone</th>
                        <th>Adresse</th>
                        <th>Email</th>
                        <th>Date entrée</th>
                        <th>Métier</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (AlignityApp.Models.User user in @Model)
                    {
                        if (user.UserRole != AlignityApp.Models.Role.MANAGER && 
                            user.UserRole != AlignityApp.Models.Role.ADMINISTRATOR &&
                            User.Identity.Name == user.ManagerId.ToString() &&
                            User.IsInRole("MANAGER"))
                        {
                            <tr>
                                <td>@user.Name</td>
                                <td>@user.Firstname</td>
                                <td>@user.Birthdate.ToString("dd/MM/yyyy")</td>
                                <td>@user.PhoneNumber</td>
                                <td>@user.Adress @user.PostalCode @user.City</td>
                                <td>@user.Email</td>
                                <td>@user.CreationDate.ToString("dd/MM/yyyy")</td>
                                <td>@user.UserJob</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Css {
    <link href="/css/listCra/dataTables.bootstrap4.min.css" rel="stylesheet">
    }

@section Scripts {
    <!-- Page level plugins -->
    <script src="/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <!-- Page level custom scripts -->
    <script src="/js/demo/datatables-demo.js"></script>
    }

